{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1>스나기술</h1>
  <div class="list-group">
    <a class="list-group-item" href="/sniper/burning">
      버닝
    </a>
    <a class="list-group-item" href="/sniper/ragshot">
      렉샷
    </a>
    <a class="list-group-item" href="/sniper/breaking">
      브레이킹
    </a>
    <a class="list-group-item" href="/sniper/twojump">
      투점프
    </a>
    <a class="list-group-item" href="/sniper/backshot">
      백샷
    </a>
  </div>
</div>

{% endblock %}
