{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1>스나기술</h1>
  <div class="list-group">
    <a class="list-group-item" href="/weepok/headpok">
      버닝
    </a>
    <a class="list-group-item" href="/weepok/suldae">
      렉샷
    </a>
    <a class="list-group-item" href="/weepok/behind">
      브레이킹
    </a>
    <a class="list-group-item" href="/weepok/threecan">
      투점프
    </a>
    <a class="list-group-item" href="/weepok/3mm">
      백샷
    </a>
  </div>
</div>

{% endblock %}
