{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1>서든어택 용어 정리</h1>
  <ul class="list-group">
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
        개돌
      </h4>
      <p class="list-group-item-text">
        게임이 시작되면 적의 기지로 처들어가는것
      </p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
        순줌
      </h4>
      <p class="list-group-item-text">
        저격수들이 순간적으로 줌을 하고 쏘는것
      </p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
        반샷
      </h4>
      <p class="list-group-item-text">
        스나한테맞고 죽지않은것
      </p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
        럽샷
      </h4>
      <p class="list-group-item-text">
        상대가 피가 튀겻는데 죽지않은것
      </p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
        걸뽀
      </h4>
      <p class="list-group-item-text">
        걸어다니는 보너스라는 뜻 못하는사람
      </p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
        사플
      </h4>
      <p class="list-group-item-text">
        사운드플레이
      </p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
        월샷
      </h4>
      <p class="list-group-item-text">
        벽을관통해서맞추는것
      </p>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
        점사
      </h4>
      <p class="list-group-item-text">
        끊어서쏘는것
      </p>
    </li>
     <li class="list-group-item">
      <h4 class="list-group-item-heading">
        패줌
      </h4>
      <p class="list-group-item-text">
        패스트줌
      </p>
    </li>
  </ul>
</div>
{% endblock %}

