{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1>위폭</h1>
  <div class="list-group">
    <a class="list-group-item" href="/weepok/headpok">
      머리폭
    </a>
    <a class="list-group-item" href="/weepok/suldae">
      설대폭
    </a>
    <a class="list-group-item" href="/weepok/behind">
      컨뒤폭
    </a>
    <a class="list-group-item" href="/weepok/threecan">
      쓰리깡폭
    </a>
    <a class="list-group-item" href="/weepok/3mm">
      3미리폭
    </a>
  </div>
</div>

{% endblock %}



